
/* styles.css */

.resume--card{
    width: 65%;
}


h1 {
    margin: 0;
}

section {
    margin: 2em 0;
    padding: 0 1em;
}

a {
    color: #ff335f;
    text-decoration: none;
    font-size: 0.9em;
}


#education, #skills {
    border-top: 1px solid #ccc;
    padding-top: 1em;

}

h2 {
    font-size: 1.5em;
}

p{
    font-size: 1.7em;
    margin-bottom: 0.5em;
}


@media only screen and (max-width: 1000px) {
    .resume--card{
        width: 100% ;
    }

    p{
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }
}